<footer class="bg-light text-center text-lg-start">

  <div class="container p-4">
    <div class="row">

      <div class="col-lg">
        <h5 class="text-uppercase">About</h5>
        <p>
          Bạn là giáo viên đang có nhu cầu giảng dạy? Bạn đang có nhu cầu học tập?
          Bạn không thể thu xếp thời gian để tham gia các lớp học trực tiếp?
          Hãy đến với chúng tôi, chúng tôi đảm bảo sẽ mang đến cho bạn những trãi nghiệm thật thú với chi 
          phí hợp lý. Ngoài ra còn có nhiều ưu đãi khác.
        </p>

      </div>

      <div class="col-lg text-center">
        <h5 class="text-uppercase">Contact</h5>
        <div class="tt-collapse-content">
          <address>
            <p><span>We are: 18120582 - 18120587 </span></p>
            <p><span>About Us: </span><a href="">Trường đại học khoa học tự nhiên</a></p>
            <p><span>E-mail: </span> <a href="">team1234@gmail.com</a></p>
          </address>
        </div>
      </div>

      <div class="col-lg">
        <h5>Sign up for our newsletter</h5>
     

        <div class="form-outline mb-4">
          <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
        </div>
      

      <div class="col-auto mb-4 mb-md-0">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>

    </div>

  </div>
</footer>